<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>변수와 연산자</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@uiw/icons/fonts/w-icon.css">
    <!-- js -->
    <script>
        function go(url) {
            window.open().location.href=url;
        }
    </script>
</head>
<body>
    <div class="container" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <h1 class="head">변수와 연산자</h1>
        <div class="module el">
            <h3 style="margin: 0 0 8px 0;"><span class="blue">- 변수</span></h3>
            기본적으로 모든 프로그래밍에는 정수와 문자열이 존재합니다.<br><br>
            대표적으로 C언어에서의 <b>숫자 자료형</b>에는 <code>int</code> <code>double</code> <code>float</code>가 있고,
            <b>문자열 자료형</b>에는 <code>string(str)</code> 등이 존재합니다.<br><br>
            기본적으로 C#이나 그 이하의 로우 레벨의 언어에서는 자료형을 이용해<br>
            <code>
                int [변수명] = 0;
            </code><br>
            또는<br>
            <code>
                string [변수명] = "abc";
            </code><br>
            요렇게 사용하곤 합니다.<br><br>
            <b>*</b> 하지만 자바스크립트나 <a href="/tutorial/py">파이썬</a>에서는 다릅니다.<br>
            <span class="blue">자바스크립트</span>에서는 자료형 대신에 <code>var</code>, <code>let</code> 또는 <code>const</code>를 사용합니다.<br><br>
            <code>var</code>는 한번 생성해낸 변수가 있다할지라도 에러가 나지않고 계속 변수 생성이 가능합니다.<br>
            <p class="c">
                var abc1 = "123"<br>
                var abc1 = "321"<br>
                <br>
                -> 321
            </p>
            <br>
            <code>let</code>은 한번 생성해낸 변수가 있으면 같은 이름의 변수를 생성하지 못합니다. (요즘은 let 사용을 권장하고 있습니다)
            <p class="c">
                let abc1 = "123"<br>
                let abc1 = "321"<br>
                <br>
                -> Error
            </p>
            <br>
            <code>const</code>를 이용해 변수를 생성하면 런타임 동안에는 변수의 내용을 변경하지 못합니다.
            <p class="c">
                const abc1 = "123"<br>
                abc1 = "321"<br>
                <br>
                -> Error
            </p><br><br>
            <span class="blue"><a href="/tutorial/py">파이썬</a></span>에서는 자료형을 사용하지 않습니다. 알아서 데이터 타입을 정해줍니다.
            <p class="c">
                abc1 = "123"<br>
                <br>
                -> &lt;class 'str'&gt;  
            </p>
        </div>
    </div>
</body>
</html>