<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모듈, 라이브러리, 프레임워크의 차이점</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@uiw/icons/fonts/w-icon.css">
    <!-- js -->
    <script>
        function go(url) {
            window.open().location.href=url;
        }
    </script>
</head>
<body>
    <div class="container" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <h1 class="head">변수와 연산자</h1>
        <div class="module el">
            <h3 style="margin: 0 0 8px 0;"><span class="blue">- 변수</span></h3>
            기본적으로 모든 프로그래밍에는 정수와 문자열이 존재합니다. 대표적으로<br><br>
            <b>정수 자료형</b>에는<br>
            <ul>
                <li>int</li><li>double</li><li>float</li>
            </ul>
            등이 있습니다.
        </div>
    </div>
</body>
</html>