<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모듈, 라이브러리, 프레임워크의 차이점</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@uiw/icons/fonts/w-icon.css">
    <!-- js -->
    <script>
        function go(url) {
            window.open().location.href=url;
        }
    </script>
</head>
<body>
    <div class="container" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <h1 class="head">모듈 라이브러리 프레임워크의 차이점</h1>
        <div class="module el">
            <h3 style="margin: 0 0 8px 0;"><span class="blue">- 모듈은 무엇인가?</span></h3>
            모듈은 본 파일로부터 독립 된 기능을 말한다. 파이썬에서 많이 볼 수 있다.<br>
        </div>
        <div class="lib el">
            <h3 style="margin: 30px 0 8px 0;"><span class="blue">- 라이브러리는 무엇인가?</span></h3>
            모듈과 같은 개념이지만 다르다.<br>
            모듈이 부품이라면, 라이브러리는 부품의 집합과 같다.
        </div>
        <div class="fra el">
            <h3 style="margin: 30px 0 8px 0;"><span class="blue">- 프레임워크는 무엇인가?</span></h3>
            복잡한 문제를 해결하거나 서술하는 데 사용되는 기본 개념 구조, 즉 뼈대이다.<br>
            <b>*</b>&nbsp;스프링, 장고, 리액트 등등..
        </div>
        <div class="las el" style="margin-bottom: 30px">
            <h3 style="margin: 80px 0 8px 0;"><span class="red">- 한마디로 정리하자면</span></h3>
            <b>프레임워크는 도서관, 라이브러리는 책장, 모듈은 책과도 같다.</b><br>
            이해는 알아서..
        </div>
    </div>
</body>
</html>