<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h2 class="top-h2">개발자 교육과정</h2>
        <div class="react">
            <h4 class="re-text"><b>리액트</b></h4>
            <hr><br>
            <ul class="re-ul">
                <li><h5>1강.</h5><iframe src="https://www.youtube.com/embed/wjHVOqFx0i8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                <li><h5>2강.</h5><iframe src="https://www.youtube.com/embed/723CU45sJck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            </ul>
        </div>
        <div class="python">
            <h4 class="py-text"><b>파이썬</b></h4>
            <hr><br>
            <ul class="py-ul">
                <li><h5>1강.</h5><iframe src="https://www.youtube.com/embed/0jrwC-VZhmw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                <li><h5>2강.</h5><iframe src="https://www.youtube.com/embed/YqEBNImgV84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            </ul>
        </div>
    </div>
</body>
</html>