* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #313131;
    user-select: none;
}

body {
    background-color: #f1f1f1;
    -ms-overflow-style: none;
    text-align: left;
}

/* 기능은 살리고 스크롤바는 삭제 + -ms-overflow-style: none; */
::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 0 auto;
    top: 0;
    background-color: #fff;
    height: auto 100%;
    padding: 0 20px 20px 20px;
}

img {
    width: 60%;
    height: 60px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    object-fit: contain;
}

hr {
    border: 1px solid lightgray;
    margin: 10px 0 10px 0;
}

.sec {
    text-align: center;
    border: 1px solid lightgray;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

.sec span,
.sec img {
    margin: 0 auto;
    display: flex;

}

.c {
    background-color: #f1f1f1;
    font-family: 'Consolas';
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

code {
    background-color: #f1f1f1;
    font-family: 'Consolas';
    font-weight: bold;
}

.er {
    padding: 0;
    list-style: none;
}

.el {
    word-break: keep-all;
    margin: 30px 0 8px 0;
}
.er {
    margin-bottom: 50px;
}

.fz {
    margin-bottom: 200px;
}

footer {
    text-align: center;
    padding: 20px;
    color: gray;
}
footer span {
    color: gray;
}

.go {
    cursor: pointer;
    border-radius: 5px;
    transition-duration: .2s;
}

.go:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.head {
    padding-top: 40px;
    margin-bottom: 60px;
}

/* icon */
.fo {
    color: gray;
    cursor: pointer;
}
.fo:hover span, .fo:hover {
    color: #313131;
}

/* blue */
.blue {
    color: #0085ff;
}

.red {
    color: #da3434;
}

/* mobile */
@media screen and (min-width: 1000px) {
    .container {
        width: 1000px;
    }

    .sec {
        width: 60%;
    }
}

/* pc */
@media screen and (max-width: 1000px) {
    .container {
        left: 0;
        width: 100%;
    }

    .sec {
        width: 60%;
    }
}