<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자바스크립트</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@uiw/icons/fonts/w-icon.css">
    <!-- js -->
    <script>
        function go(url) {
            window.open().location.href=url;
        }
    </script>
</head>
<body>
    <div class="container" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <h1 class="head">자바스크립트</h1>
        <div class="module el">
            <h3 style="margin: 0 0 8px 0;"><span class="blue">- 자바스크립트는 무엇인가?</span></h3>
            이 언어는 " 웹 페이지에 생동감을 넣어주기 위해 " 만들어진 언어입니다.<br>
        </div>
    </div>
</body>
</html>